<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BloomFilter" version="1.0.1" targetFramework="net461" />
  <package id="murmurhash" version="1.0.3" targetFramework="net461" />
  <package id="RTree" version="1.1.0" targetFramework="net461" />
  <package id="System.Data.HashFunction.Core" version="1.8.2.2" targetFramework="net461" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net461" />
  <package id="System.Data.HashFunction.MurmurHash" version="1.8.2.2" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="TrieNet" version="1.0.3.26316" targetFramework="net461" />
</packages>